---

name: Test

on:
  pull_request:
    branches: main

jobs:
  test:
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Test
        run: |
          sudo xcode-select --switch "/Applications/Xcode_16_beta_6.app"
          make ci
